{%extends 'layout.html'%}
{% block title %}
    Crear Nuevo Curso
{% endblock %}

{% block content %}
    
    <h1 class="title">Formulario en Django</h1>
    <form action="/save-cursos/" class="form-group" method="GET">
        <label for="idcurso">Id Curso: </label>
        <input type="text" name="idcurso">

        <label for="codigo">Codigo: </label>
        <input type="text" name="codigo">

        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre">

        <label for="horas">Horas: </label>
        <input type="text" name="horas">

        <label for="creditos">Creditos: </label>
        <input type="text" name="creditos">

        <label for="estado">Estado </label>
        <input type="text" name="estado">

        

        <input type="submit" value="Agregar">
    </form>
{% endblock %}